/*
tipo {
	propiedades: valor;
	propiedades: valor;
}
*/
/* Selector Universal*/
* {
	border: 1px solid red;
	margin: 10px;
}
/* Selector de etiquetas*/
header {
	background: blue;
}

section {
	background: purple;
}

/* Selector descendente*/
article h3{
	color: green;
}

/* Selector de Clase*/
.title-a{
	background: yellow;
}

.title-b{
	background: salmon;
}

/* Selector de ID*/
#header {
	border: 3px solid black;
}
#portada{
	border: 3px solid orange;

}
#guitarras{
	border: 3px solid brown;

}
